<nav class="custom-navbar">
  <div class="custom-navbar-container">
<!--    <div class="custom-navbar-header">-->
      <a href="#" class="custom-navbar-logo">
        <img ngSrc="images/logo.png" width="100" height="100">
      </a>
      <button class="custom-navbar-toggle" id="navbarToggle">
        <span class="toggle-icon"></span>
        <span class="toggle-icon"></span>
        <span class="toggle-icon"></span>
      </button>
<!--    </div>-->
<!--    <div class="custom-navbar-menu" id="navbarMenu">-->
      <ul class="custom-navbar-nav">
        <li><a href="#home" class="scroll">Home</a></li>
        <li><a href="#about" class="scroll">About</a></li>
        <li><a href="#portfolio" class="scroll">Portfolio</a></li>
        <li><a href="#contact" class="scroll">Contact</a></li>
      </ul>
<!--    </div>-->
  </div>
</nav>
